name: CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # --- Checkout code ---
      - name: Checkout code
        uses: actions/checkout@v3

      # --- Setup Node ---
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 20

      # --- Install dependencies ---
      - name: Install dependencies
        run: npm install

      # --- Run Jest Unit Tests ---
      - name: Run tests
        run: npm test

      # --- Login Docker Hub ---
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PASS }}

      # --- Build Docker Image ---
      - name: Build Docker image
        run: docker build -t ${{ secrets.DOCKER_USER }}/ci-cd-demo:latest .

      # --- Push to Docker Hub ---
      - name: Push Docker image
        run: docker push ${{ secrets.DOCKER_USER }}/ci-cd-demo:latest
